<div class="page-width">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="content-block text-center">
        <h1>{{ 'customer.activate_account.title' | t }}</h1>
        <p>{{ 'customer.activate_account.subtext' | t }}</p>

        <div class="form-vertical">
          {% form 'activate_customer_password' %}

            {{ form.errors | default_errors }}

            <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

            <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

            <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
            <input type="submit" class="text-link link-accent-color" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
