<div class="page-width">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="content-block text-center">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1>{{ 'customer.reset_password.title' | t }}</h1>

            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {{ form.errors | default_errors }}

            <label for="ResetPassword" class="label--hidden">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

            <label for="PasswordConfirmation" class="label--hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

            <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
