{% comment %}
Password message which you can edit on /admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
	<p class="password-page__message">
		{{ shop.password_message }}
	</p>
{% endunless %}

{% comment %}
Signup form
{% endcomment %}
{% if section.settings.newsletter_enable %}
  <div class="password-signup-form">
	{% form 'customer' %}
	  {{ form.errors | default_errors }}
	    {% if form.posted_successfully? %}
			<ul class="form-success">
				<li>{{ 'general.password_page.signup_form_success' | t }}</li>
			</ul>
		{% else %}
			<p class="h2">{{ section.settings.newsletter_form_heading | escape }}</p>
			{% unless section.settings.newsletter_form_subheading == blank %}
				<div class="password-signup-form__subheading">
					{{ section.settings.newsletter_form_subheading }}
				</div>
			{% endunless %}
			<input type="hidden" name="contact[tags]" value="prospect, password page">
			<label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
			<div class="input-group">
				<input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
				<span class="input-group__btn">
					<button type="submit" name="commit" class="btn btn--narrow">
						{% include 'icon-arrow-right' %}
						<span class="icon__fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				</span>
			</div>
		{% endif %}
	  {% endform %}
	{% endif %}
</div>



{% schema %}
{
  "name": {
    "cs": "Obsah",
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "nb": "Innhold",
    "nl": "Content",
    "pl": "Treść",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "tr": "İçerik",
    "vi": "Nội dung",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "cs": "Zobrazit přihlášení k odběru novinek",
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pl": "Pokaż rejestrację do newslettera",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "tr": "Bülten aboneliğini göster",
        "vi": "Hiển thị đăng ký nhận bản tin",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "cs": "Nadpis formuláře novinek",
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "it": "Intestazione del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pl": "Nagłówek formularza newslettera",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "tr": "Bülten form başlığı",
        "vi": "Tiêu đề biểu mẫu bản tin",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "cs": "Zjistěte podrobnosti o uvedení novinek jako první.",
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Sei der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Kuule uusista julkistuksista ensimmäisten joukossa.",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "it": "Vuoi sapere subito quando apriremo? Lasciaci il tuo indirizzo email!",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pl": "Bądź pierwszą osobą, która dowie się o naszym otwarciu.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "tr": "Kullanıma sunduğumuzu ilk siz öğrenin.",
        "vi": "Trở thành người đầu tiên biết khi chúng tôi ra mắt.",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      },
      "info": {
        "cs": "[Informujte návštěvníky o slevě při otevření obchodu](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "da": "[Fortæl dine besøgende om en rabat på lanceringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informiere deine Besucher über einen Eröffnungsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento el día de lanzamiento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fi": "[Kerro vierailijoille julkaisupäivän alennuksesta](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Parlez à vos visiteurs d'une réduction pour le jour du lancement](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i tuoi visitatori dello sconto previsto per il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日のディスカウントについて伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[방문자에게 개장일 할인에 대해 알리십시오.](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "nb": "[Fortell dine besøkende om en rabatt på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel je bezoekers over een lanceringskorting](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pl": "[Poinformuj swoich odwiedzających o rabacie w dniu uruchomienia](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-PT": "[Informe os seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om en rabatt på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกให้ผู้เยี่ยมชมทราบเกี่ยวกับส่วนลดในวันเปิดตัว](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "tr": "[Müşterilerinize açılış günü indirimi hakkında bilgi verin](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "vi": "[Chia sẻ với khách truy cập về giảm giá trong ngày ra mắt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "zh-CN": "[向访客介绍发布日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[向訪客介紹發佈日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "cs": "Podnadpis formuláře novinek",
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pl": "Nagłówek podrzędny formularza newslettera",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Nyhetsbrevsformulär underrubrik",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "tr": "Bülten formu alt başlığı",
        "vi": "Tiêu đề phụ biểu mẫu bản tin",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "cs": "<p>Získejte informace o propagačních akcích, nových produktech a slevách – přímo do své schránky.</p>",
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in deinem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in je inbox.</p>",
        "pl": "<p>Promocje, nowe produkty i wyprzedaże. Bezpośrednio do Twojej skrzynki odbiorczej.</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "tr": "<p>Promosyonlar, yeni ürünler ve indirimler. Doğrudan gelen kutunuzda.</p>",
        "vi": "<p>Khuyến mãi, sản phẩm mới và chương trình giảm giá. Trực tiếp vào hộp thư đến của bạn.</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "cs": "Zástupný text newsletteru s novinkami",
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Newsletter-Platzhalter Text",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "ニュースレターのプレースホルダーテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pl": "Tekst zastępczy newslettera",
        "pt-BR": "Texto provisório da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดตำแหน่งจดหมายข่าว",
        "tr": "Bülten yer tutucu metni",
        "vi": "Văn bản phần giữ chỗ bản tin",
        "zh-CN": "新闻通讯占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "cs": "E-mailová adresa",
        "da": "Mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pl": "Adres e-mail",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "tr": "E-posta adresi",
        "vi": "Địa chỉ email",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    }
  ]
}
{% endschema %}
