{%- if section.settings.hero_home_height == 'adapt' -%}
  {%- comment -%}
    'min_aspect_ratio' is the minimum aspect ratio of images shown without
    whitespace when 'hero_home_height' is set to 'adapt'.
    The aspect ratio values for the first image in the slideshow will be used
    unless it is blank, in that case a ratio of 2:1 will be used.
  {%- endcomment -%}

  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.image.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{%- endif -%}

{% if section.blocks.size > 0 %}
  <div class="hero-wrapper hero-wrapper--{{ section.settings.hero_home_height }}"
       role="region"
       aria-label="slideshow"
       aria-describedby="a11y-slideshow-info">
    <div class="hero hero--{{ section.settings.hero_home_height }}{% if section.settings.hero_home_height == 'adapt' %} hero--adapt-height page-width{% endif %}"
         id="Slideshow-{{ section.id }}"
         data-section-id="{{ section.id }}"
         data-section-type="slideshow"
         data-autoplay="{{ section.settings.hero_home_auto }}"
         data-adapt-height="{% if section.settings.hero_home_height == 'adapt' %}true{% else %}false{% endif %}"
         data-speed="{{ section.settings.hero_home_auto_speed | times: 1000 }}"
         {% if section.settings.hero_home_height == 'adapt' %}data-min-aspect-ratio="{{ min_aspect_ratio }}"
         style="height: {{- wrapper_height -}}vw"{% endif %}>
      {%- for block in section.blocks -%}
        <div class="hero__slide hero__slide--{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="hero__image-content">
            {%- if block.settings.image != blank -%}
              <noscript>
                <div class="hero__image hero__image--{{ block.id }}"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}');"{% endif %}></div>
              </noscript>
              {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="hero__image hero__image--{{ block.id }} lazyload {% unless forloop.first == true %} lazypreload{% endunless %}"
                {% if forloop.first == true %}
                  src="{{ block.settings.image | img_url: '300x' }}"
                {% endif %}
                data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                alt="{{ block.settings.image.alt | escape }}"
                style="object-position: {{ block.settings.image_position }}">
            {%- else -%}
              {%- if block.settings.image == blank -%}
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="hero-content">
      <div class="page-width">
        <div class="hero-content__title-wrapper">
          {%- if section.settings.hero_home_height == 'adapt' -%}
            <div class="hero-content__inner-text">
          {%- endif -%}
          {%- for block in section.blocks -%}
            {%- unless block.settings.title == blank -%}
              <h2 data-slide-id="{{ forloop.index }}" class="hero-content__title h1{% if section.blocks.size == 1 %} hero-title-active{% endif %}">
                {{ block.settings.title | escape }}
              </h2>
            {%- endunless -%}
          {%- endfor -%}
          {%- if section.settings.hero_home_height == 'adapt' -%}
            </div>
          {%- endif -%}
        </div>
        {%- if section.settings.hero_home_height == 'adapt' -%}
          <div class="hero-content__inner-controls">
        {%- endif -%}
        <div class="hero-content__controls">
          {%- if section.blocks.size > 1 -%}
            <div class="hero-content__controls-item hero-content__controls-item--count" aria-label="{{ 'homepage.hero.slide_number' | t: slide_number: '[slide_number]' }}">
              <span class="slide-counter" aria-hidden="true">1/{{ section.blocks.size }}</span>
            </div>
            {%- if section.settings.hero_home_auto -%}
              <div class="hero-content__controls-item hero-content__controls-item--pause">
                <button type="button" class="hero__pause"
                                      aria-live="polite"
                                      aria-label="{{ 'homepage.hero.pause_slideshow' | t }}"
                                      aria-pressed="false"
                                      data-label-pause="{{ 'homepage.hero.pause_slideshow' | t }}"
                                      data-label-play="{{ 'homepage.hero.play_slideshow' | t }}">
                  <span class="hero-toggle-stop">
                    {% include 'icon-pause' %}
                    <span class="icon__fallback-text">{{ 'homepage.hero.pause_slideshow' | t }}</span>
                  </span>
                  <span class="hero-toggle-play">
                    {% include 'icon-play' %}
                    <span class="icon__fallback-text">{{ 'homepage.hero.play_slideshow' | t }}</span>
                  </span>
                </button>
              </div>
            {%- endif -%}
            <ul class="hero-content-navigation">
              <li class="hero-content-navigation__item hero-content__controls-item hero-content__controls-item--arrow">
                <button class="text"
                        type="button"
                        data-control="previous"
                        aria-label="{{ 'homepage.hero.previous_slide' | t }}">
                  {% include 'icon-arrow-left' %}
                  <span class="icon__fallback-text">{{ 'homepage.hero.previous_slide' | t }}</span>
                </button>
              </li>
              <li class="hero-content-navigation__item hero-content__controls-item hero-content__controls-item--arrow">
                <button class="text"
                        type="button"
                        data-control="next"
                        aria-label="{{ 'homepage.hero.next_slide' | t }}">
                  {% include 'icon-arrow-right' %}
                  <span class="icon__fallback-text">{{ 'homepage.hero.next_slide' | t }}</span>
                </button>
              </li>
            </ul>
          {%- endif -%}
          {%- for block in section.blocks -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
              <a data-slide-id="{{ forloop.index }}"
                href="{{ block.settings.button_link }}"
                class="hero-content__controls-item hero-content__controls-item--text{% if section.blocks.size == 1 %} hero-link-active{% endif %}">
                {{ block.settings.button_label | escape }} <span aria-hidden="true">&rarr;</span>
              </a>
            {%- endif -%}
          {%- endfor -%}
          {%- if section.settings.hero_home_height == 'adapt' -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
{
  "name": {
    "cs": "Prezentace",
    "da": "Diasshow",
    "de": "Slideshow",
    "en": "Slideshow",
    "es": "Diapositivas",
    "fi": "Diaesitys",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "ko": "슬라이드 쇼",
    "nb": "Lysbildefremvisning",
    "nl": "Diavoorstelling",
    "pl": "Pokaz slajdów",
    "pt-BR": "Apresentação de slides",
    "pt-PT": "Apresentação de diapositivos",
    "sv": "Bildspel",
    "th": "สไลด์โชว์",
    "tr": "Slayt gösterisi",
    "vi": "Bản trình chiếu",
    "zh-CN": "幻灯片",
    "zh-TW": "素材輪播"
  },
  "class": "shopify-section--slideshow",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "hero_home_height",
      "label": {
        "cs": "Výška snímku",
        "da": "Diashøjde",
        "de": "Diahöhe",
        "en": "Slide height",
        "es": "Altura de diapositiva",
        "fi": "Dian korkeus",
        "fr": "Hauteur de la diapositive",
        "it": "Altezza slide",
        "ja": "スライドの高さ",
        "ko": "슬라이드 높이",
        "nb": "Lysbildehøyde",
        "nl": "Diahoogte",
        "pl": "Wysokość slajdu",
        "pt-BR": "Altura do slide",
        "pt-PT": "Altura do diapositivo",
        "sv": "Bildhöjd",
        "th": "ความสูงของสไลด์",
        "tr": "Slayt yüksekliği",
        "vi": "Chiều cao trang chiếu",
        "zh-CN": "幻灯片高度",
        "zh-TW": "投影片高度"
      },
      "default": "small",
      "info": {
        "cs": "Prostudujte si [nápovědu k prezentaci](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "da": "Få mere at vide om [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "de": "Erfahre mehr über die [Richtlinien für Slideshows](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "en": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "es": "Más información sobre [pautas de presentación de diapositivas](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "fi": "Lisätietoja [diaesitysohjeet](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "fr": "En savoir plus sur [directives de diaporama](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "it": "Maggiori informazioni sulle [linee guida per le presentazioni](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "ja": "[スライドショーのガイドライン](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)に関して詳しくはこちら。",
        "ko": "[슬라이드 쇼 가이드라인에 대해 자세히 알아보기](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "nb": "Finn ut mer om [retningslinjer for lysbilder](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "nl": "Meer informatie over [richtlijnen voor diavoorstellingen](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "pl": "Dowiedz się więcej o [wytycznych dotyczących pokazu slajdów](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "pt-BR": "Saiba mais sobre [diretrizes de apresentação de slides](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "pt-PT": "Saiba mais sobre [diretrizes de apresentação de diapositivos](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "sv": "Läs mer om [bildspelets riktlinjer](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [แนวทางสไลด์โชว์](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "tr": "[Slayt gösterisi yönergeleri](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific) hakkında daha fazla bilgi edinin.",
        "vi": "Tìm hiểu thêm về [hướng dẫn trình chiếu](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific).",
        "zh-CN": "详细了解[幻灯片指南](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)",
        "zh-TW": "深入瞭解 [素材輪播準則](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/venture#slideshow-sections-specific)。"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "adapt",
          "label": {
            "cs": "Přizpůsobení prvnímu obrázku",
            "da": "Tilpas til første side",
            "de": "An erstes Bild anpassen",
            "en": "Adapt to first image",
            "es": "Adaptar a la primera imagen",
            "fi": "Mukauta ensimmäisen kuvan mukaan",
            "fr": "Adapter à la première image",
            "it": "Adatta alla prima immagine",
            "ja": "最初の画像に対応",
            "ko": "첫 번째 이미지에 맞춤",
            "nb": "Tilpass etter første bilde",
            "nl": "Aanpassen aan eerste afbeelding",
            "pl": "Dostosuj do pierwszego obrazu",
            "pt-BR": "Adaptar à primeira imagem",
            "pt-PT": "Adaptar à primeira imagem",
            "sv": "Anpassa efter första bilden",
            "th": "ปรับให้เข้ากับรูปภาพแรก",
            "tr": "İlk görsele uyarla",
            "vi": "Điều chỉnh theo hình ảnh đầu tiên",
            "zh-CN": "适应第一张图片",
            "zh-TW": "配合第一張圖片"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hero_home_auto",
      "label": {
        "cs": "Automaticky otočit snímky",
        "da": "Roter automatisk slides",
        "de": "Auto-rotieren der Slides",
        "en": "Auto-rotate slides",
        "es": "Rotar las diapositivas automáticamente",
        "fi": "Käännä diat automaattisesti",
        "fr": "Rotation automatique des diapositives",
        "it": "Ruota slide automaticamente",
        "ja": "スライドの自動切り替え",
        "ko": "슬라이드 자동 회전",
        "nb": "Autoroter lysbildene",
        "nl": "Dia's automatisch draaien",
        "pl": "Automatycznie obracaj slajdy",
        "pt-BR": "Rodar os slides automaticamente",
        "pt-PT": "Reprodução automática de diapositivos",
        "sv": "Auto-rotera bilder",
        "th": "หมุนสไลด์อัตโนมัติ",
        "tr": "Slaytları otomatik olarak döndür",
        "vi": "Tự động xoay vòng trang chiếu",
        "zh-CN": "自动旋转幻灯片",
        "zh-TW": "自動旋轉投影片"
      },
      "default": false
    },
    {
      "type": "range",
      "id": "hero_home_auto_speed",
      "label": {
        "cs": "Změnit snímek co",
        "da": "Skift slide hver",
        "de": "Slides überall ändern",
        "en": "Change slides every",
        "es": "Cambiar diapositivas cada",
        "fi": "Vaihda diat joka",
        "fr": "Changer de diapositive toutes les",
        "it": "Cambia slide ogni",
        "ja": "スライドを変更する間隔",
        "ko": "슬라이드를 매번 변경",
        "nb": "Endre lysbilde hvert",
        "nl": "Wijzig dia's elke",
        "pl": "Zmieniaj slajdy co",
        "pt-BR": "Mudar os slides a cada",
        "pt-PT": "Mudar diapositivos a cada",
        "sv": "Byt bilder varje",
        "th": "เปลี่ยนสไลด์ทุก",
        "tr": "Slaytları şu zaman aralığında değiştir:",
        "vi": "Đổi trang chiếu sau mỗi",
        "zh-CN": "幻灯片更改时间间隔",
        "zh-TW": "每過以下時間即變更投影片"
      },
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": {
        "cs": " s",
        "da": " s",
        "de": " s",
        "en": " s",
        "es": " s",
        "fi": " s",
        "fr": " s",
        "it": " s",
        "ja": " s",
        "ko": " s",
        "nb": " s",
        "nl": " s",
        "pl": " s",
        "pt-BR": " s",
        "pt-PT": " s",
        "sv": " s",
        "th": " s",
        "tr": " sn",
        "vi": " gi",
        "zh-CN": " s",
        "zh-TW": " s"
      },
      "default": 5
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Prezentace",
        "da": "Diasshow",
        "de": "Slideshow",
        "en": "Slideshow",
        "es": "Diapositivas",
        "fi": "Diaesitys",
        "fr": "Diaporama",
        "it": "Presentazione",
        "ja": "スライドショー",
        "ko": "슬라이드 쇼",
        "nb": "Lysbildefremvisning",
        "nl": "Diavoorstelling",
        "pl": "Pokaz slajdów",
        "pt-BR": "Apresentação de slides",
        "pt-PT": "Apresentação de diapositivos",
        "sv": "Bildspel",
        "th": "สไลด์โชว์",
        "tr": "Slayt gösterisi",
        "vi": "Bản trình chiếu",
        "zh-CN": "幻灯片",
        "zh-TW": "素材輪播"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Bild",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": {
        "hero_home_auto": false,
        "hero_home_auto_speed": 5
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": {
        "cs": "Snímek",
        "da": "Slide",
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fi": "Dia",
        "fr": "Diapositive",
        "it": "Scorrimento",
        "ja": "スライド",
        "ko": "슬라이드",
        "nb": "Lysbilde",
        "nl": "Dia",
        "pl": "Slajd",
        "pt-BR": "Slide",
        "pt-PT": "Diapositivo",
        "sv": "Bild",
        "th": "สไลด์",
        "tr": "Slayt",
        "vi": "Trang chiếu",
        "zh-CN": "幻灯片",
        "zh-TW": "投影片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "select",
          "id": "image_position",
          "label": {
            "cs": "Pozice obrázku",
            "da": "Placering af billede",
            "de": "Bildposition",
            "en": "Image position",
            "es": "Posición de la imagen",
            "fi": "Kuvan sijainti",
            "fr": "Position de l'image",
            "it": "Posizione Immagine",
            "ja": "画像の位置",
            "ko": "이미지 위치",
            "nb": "Bildeposisjon",
            "nl": "Afbeeldingspositie",
            "pl": "Położenie obrazu",
            "pt-BR": "Posição da imagem",
            "pt-PT": "Posição da imagem",
            "sv": "Bildposition",
            "th": "ตำแหน่งรูปภาพ",
            "tr": "Görsel konumu",
            "vi": "Vị trí hình ảnh",
            "zh-CN": "图片位置",
            "zh-TW": "圖片位置"
          },
          "default": "center center",
          "options": [
            {
              "label": {
                "cs": "Nahoře vlevo",
                "da": "Øverst til venstre",
                "de": "Oben links",
                "en": "Top left",
                "es": "Arriba a la izquierda",
                "fi": "Ylhäällä vasemmalla",
                "fr": "En haut à gauche",
                "it": "In alto a sinistra",
                "ja": "左上",
                "ko": "왼쪽 상단",
                "nb": "Øverst til venstre",
                "nl": "Linksboven",
                "pl": "Na górze po lewej",
                "pt-BR": "Superior esquerdo",
                "pt-PT": "Canto superior esquerdo",
                "sv": "Överst till vänster",
                "th": "ซ้ายบน",
                "tr": "Üst sol",
                "vi": "Trên cùng bên trái",
                "zh-CN": "左上方",
                "zh-TW": "左上角"
              },
              "value": "left top"
            },
            {
              "label": {
                "cs": "Nahoře ve středu",
                "da": "Øverst i midten",
                "de": "Oben zentriert",
                "en": "Top center",
                "es": "Centrar arriba",
                "fi": "Keskellä ylhäällä",
                "fr": "En haut au centre",
                "it": "In alto al centro",
                "ja": "中央上",
                "ko": "맨 위 중간",
                "nb": "Toppsentrert",
                "nl": "Midden boven",
                "pl": "Na górze na środku",
                "pt-BR": "Superior centro",
                "pt-PT": "Superior centro",
                "sv": "Längst upp i mitten",
                "th": "กลางบน",
                "tr": "Üst orta",
                "vi": "Trên cùng ở giữa",
                "zh-CN": "顶部居中",
                "zh-TW": "中央上方"
              },
              "value": "center top"
            },
            {
              "label": {
                "cs": "Nahoře vpravo",
                "da": "Øverst til højre",
                "de": "Oben rechts",
                "en": "Top right",
                "es": "Arriba a la derecha",
                "fi": "Ylhäällä oikealla",
                "fr": "En haut à droite",
                "it": "In alto a destra",
                "ja": "右上",
                "ko": "오른쪽 상단",
                "nb": "Øverst til høyre",
                "nl": "Rechtsboven",
                "pl": "Na górze po prawej",
                "pt-BR": "Superior direito",
                "pt-PT": "Canto superior direito",
                "sv": "Överst till höger",
                "th": "ขวาบน",
                "tr": "Üst sağ",
                "vi": "Trên cùng bên phải",
                "zh-CN": "右上方",
                "zh-TW": "右上角"
              },
              "value": "right top"
            },
            {
              "label": {
                "cs": "Uprostřed vlevo",
                "da": "Midt på til venstre",
                "de": "Mittig links",
                "en": "Middle left",
                "es": "Centro a la izquierda",
                "fi": "Keskellä vasemmalla",
                "fr": "Au milieu à gauche",
                "it": "Centrale a sinistra",
                "ja": "中央部左側",
                "ko": "왼쪽 중간",
                "nb": "Midt til venstre",
                "nl": "Midden links",
                "pl": "Na środku po lewej",
                "pt-BR": "Meio esquerdo",
                "pt-PT": "Intermédio à esquerda",
                "sv": "Mitten till vänster",
                "th": "ซ้ายกลาง",
                "tr": "Orta sol",
                "vi": "Ở giữa bên trái",
                "zh-CN": "中间居左",
                "zh-TW": "中央左方"
              },
              "value": "left center"
            },
            {
              "label": {
                "cs": "Uprostřed ve středu",
                "da": "Midt på centreret",
                "de": "Mittig zentriert",
                "en": "Middle center",
                "es": "Centro",
                "fi": "Keskellä keskellä",
                "fr": "Centré au milieu",
                "it": "Al centro",
                "ja": "中心",
                "ko": "가운데 중간",
                "nb": "Midt i senter",
                "nl": "Midden centrum",
                "pl": "Na środku",
                "pt-BR": "Meio centro",
                "pt-PT": "Intermédio ao centro",
                "sv": "Mitten centrerat",
                "th": "กึ่งกลาง",
                "tr": "Orta kısmın ortası",
                "vi": "Chính giữa",
                "zh-CN": "中间居中",
                "zh-TW": "正中央"
              },
              "value": "center center"
            },
            {
              "label": {
                "cs": "Uprostřed vpravo",
                "da": "Midt på til højre",
                "de": "Mittig rechts",
                "en": "Middle right",
                "es": "Centro a la derecha",
                "fi": "Keskellä oikealla",
                "fr": "Au milieu à droite",
                "it": "Centrale a destra",
                "ja": "中央部右側",
                "ko": "오른쪽 중간",
                "nb": "Midt til høyre",
                "nl": "Midden rechts",
                "pl": "Na środku po prawej",
                "pt-BR": "Meio direito",
                "pt-PT": "Intermédio à direita",
                "sv": "Mitten till höger",
                "th": "ขวากลาง",
                "tr": "Orta sağ",
                "vi": "Ở giữa bên phải",
                "zh-CN": "中间居右",
                "zh-TW": "中央右方"
              },
              "value": "right center"
            },
            {
              "label": {
                "cs": "Dole vlevo",
                "da": "Nederst til venstre",
                "de": "Unten links",
                "en": "Bottom left",
                "es": "Abajo a la izquierda",
                "fi": "Alhaalla vasemmalla",
                "fr": "En bas à gauche",
                "it": "In basso a sinistra",
                "ja": "左下",
                "ko": "왼쪽 하단",
                "nb": "Nederst til venstre",
                "nl": "Linksonder",
                "pl": "Na dole po lewej",
                "pt-BR": "Inferior esquerdo",
                "pt-PT": "Canto inferior esquerdo",
                "sv": "Nere till vänster",
                "th": "ซ้ายล่าง",
                "tr": "Alt sol",
                "vi": "Dưới cùng bên trái",
                "zh-CN": "左下方",
                "zh-TW": "左下角"
              },
              "value": "left bottom"
            },
            {
              "label": {
                "cs": "Dole ve středu",
                "da": "Nederst i midten",
                "de": "Unten zentriert",
                "en": "Bottom center",
                "es": "Centro abajo",
                "fi": "Keskellä alhaalla",
                "fr": "En bas au centre",
                "it": "In basso al centro",
                "ja": "中央下",
                "ko": "맨아래 중간",
                "nb": "Bunnsentrert",
                "nl": "Midden onder",
                "pl": "Na dole na środku",
                "pt-BR": "Inferior centro",
                "pt-PT": "Inferior centro",
                "sv": "Längst ner i mitten",
                "th": "กลางล่าง",
                "tr": "Alt orta",
                "vi": "Dưới cùng ở giữa",
                "zh-CN": "底部居中",
                "zh-TW": "中央下方"
              },
              "value": "center bottom"
            },
            {
              "label": {
                "cs": "Dole vpravo",
                "da": "Nederst til højre",
                "de": "Unten rechts",
                "en": "Bottom right",
                "es": "Abajo a la derecha",
                "fi": "Alhaalla oikealla",
                "fr": "En bas à droite",
                "it": "In basso a destra",
                "ja": "右下",
                "ko": "오른쪽 아래",
                "nb": "Nederst til høyre",
                "nl": "Rechtsonder",
                "pl": "Na dole po prawej",
                "pt-BR": "Inferior direito",
                "pt-PT": "Canto inferior direito",
                "sv": "Nere till höger",
                "th": "ขวาล่าง",
                "tr": "Alt sağ",
                "vi": "Dưới cùng bên phải",
                "zh-CN": "右下方",
                "zh-TW": "右下角"
              },
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "header",
          "content": {
            "cs": "Text",
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "texto",
            "fi": "Teksti",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "tr": "Metin",
            "vi": "Văn bản",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Titolo",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Snímek",
            "da": "Slide",
            "de": "Folie",
            "en": "Slide",
            "es": "Diapositiva",
            "fi": "Dia",
            "fr": "Diapositive",
            "it": "Scorrimento",
            "ja": "スライド",
            "ko": "슬라이드",
            "nb": "Lysbilde",
            "nl": "Dia",
            "pl": "Slajd",
            "pt-BR": "Slide",
            "pt-PT": "Diapositivo",
            "sv": "Bild",
            "th": "สไลด์",
            "tr": "Slayt",
            "vi": "Trang chiếu",
            "zh-CN": "幻灯片",
            "zh-TW": "投影片"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "cs": "Text tlačítka",
            "da": "Knaptekst",
            "de": "Schaltflächenbeschriftung",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pl": "Przycisk z etykietą",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "tr": "Düğme etiketi",
            "vi": "Nhãn nút",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          },
          "default": {
            "cs": "Zobrazit všechny produkty",
            "da": "Se alle produkter",
            "de": "Alle Produkte ansehen",
            "en": "View all products",
            "es": "Ver todos los productos",
            "fi": "Näytä kaikki tuotteet",
            "fr": "Afficher tous les résultats de produits",
            "it": "Visualizza tutti i prodotti",
            "ja": "すべての商品を表示する",
            "ko": "모든 제품보기",
            "nb": "Vis alle produktene",
            "nl": "Alle producten bekijken",
            "pl": "Wyświetl wszystkie produkty",
            "pt-BR": "Exibir todos os produtos",
            "pt-PT": "Mostrar todos os produtos",
            "sv": "Visa alla produkter",
            "th": "ดูสินค้าทั้งหมด",
            "tr": "Tüm ürünleri görüntüle",
            "vi": "Xem tất cả sản phẩm",
            "zh-CN": "查看所有产品",
            "zh-TW": "檢視所有產品"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "cs": "Tlačítkový odkaz",
            "da": "Knaplink",
            "de": "Schaltflächenlink",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pl": "Link przycisku",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "tr": "Düğme bağlantısı",
            "vi": "Liên kết trên nút",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
      ]
    }
  ]
}
{% endschema %}
