{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>

<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>